body{
    counter-reset: num=1;
}
.box{
    width: 80%;
    height: 20px;
    background-color: grey;
    border:1px solid #a06aa8;
}
h1{
    counter-increment: num;
}
h1::before{
    content: 'titulo' counter(num);
}
p{
    content: 'lorem10' counter(num);
}